<div class="flex flex-col h-screen w-screen">
  <!-- Header -->
  <header
    class="flex items-center justify-end gap-4 px-6 py-4 border-b border-base-300 bg-base-200 h-14"
  >
    <app-theme-toggle></app-theme-toggle>
    <div class="text-sm">USER/ LOGIN LOGOUT</div>
  </header>

  <div class="grid grid-cols-[250px_1fr] h-full">
    <nav class="bg-base-200 border-r border-base-300 p-4">
      <app-side-menu></app-side-menu>
    </nav>

    <main class="bg-background overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
